<p-toast />
<p-confirmDialog />


<div class="card">
    <p-toolbar class="mb-4">
        <ng-template #start>
            <p-button label="הוספת תורם חדש" icon="pi pi-user-plus" class="p-button-success" (onClick)="showChild()" />
        </ng-template>
    </p-toolbar>


    <p-table [value]="donors" dataKey="id" [rows]="10" [paginator]="true" [rowHover]="true" [expandedRowKeys]="expandedRows"
        (onRowExpand)="onRowExpand($event)" (onRowCollapse)="onRowCollapse($event)">
        <ng-template #caption>
            <div class="flex flex-wrap justify-end gap-2">
                <p-button label="Expand All" icon="pi pi-plus" text (onClick)="expandAll()" />
                <p-button label="Collapse All" icon="pi pi-minus" text (onClick)="collapseAll()" />
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th style="width: 5rem"></th>
                <th>לוגו</th>
                <th pSortableColumn="First_Name">שם פרטי <p-sortIcon field="First_Name" /></th>
                <th pSortableColumn="First_Name">שם משפחה <p-sortIcon field="First_Name" /></th>
                <th>אימייל</th>
                <th>טלפון</th>
                <th>שם חברה</th>
                <th>תיאור חברה</th>
                <th>סטטוס</th>
                <th>תרומות</th>
            </tr>
        </ng-template>


        <ng-template #body let-d let-expanded="expanded">
            <tr>
                <td>
                    <p-button type="button" pRipple [pRowToggler]="d" [text]="true" severity="secondary"
                        [rounded]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                </td>
                <td>
                    @if(d.company_picture && d.company_picture !== 'string' && d.company_picture !== 'undefined' &&
                    d.company_picture !== 'null'){
                    <img [src]="IMAGE_BASE_URL + d.company_picture" style="width: 50px" class="shadow-2 rounded" />
                    }
                    @else{
                    <p-tag severity="secondary" value="אין לוגו"></p-tag>}


                </td>
                <td>{{ d.first_name }}</td>
                <td>{{ d.last_name }}</td>
                <td>{{ d.email }}</td>
                <td>{{ d.phone }}</td>
                <td>{{ d.company_name }}</td>
                <td>{{ d.company_description }}</td>
                <td>
                    <p-tag [severity]="d.is_publish ? 'success' : 'warn'"
                        [value]="d.is_publish ? 'מפרסם' : 'לא מפרסם'" />
                </td>
                <td>{{ d.donors }}</td>

                <td>
                    <p-button icon="pi pi-pencil" [rounded]="true" [outlined]="true" class="mr-2"
                        (onClick)="editDonor(d)" />
                    <p-button icon="pi pi-trash" [rounded]="true" [outlined]="true" severity="danger"
                        (onClick)="deleteDonor(d)" />
                </td>
            </tr>
        </ng-template>
        <ng-template #expandedrow let-donor>
            <tr>
                <td colspan="12">
                    <div class="p-4">
                        <h4> Gifts donated by {{ donor.first_name }}</h4>
                        <p-button label="הוספת מתנה חדשה" icon="pi pi-user-plus" class="p-button-success" (onClick)="showGiftChild(donor)" />
                        <p-table [value]="donor.gifts" dataKey="id">
                            <ng-template #header>
                                <tr>
                                    <th pSortableColumn="name">
                                        <div class="flex items-center gap-2">
                                            Name
                                            <p-sortIcon field="name" />
                                        </div>
                                    </th>
                                    <th pSortableColumn="description">
                                        <div class="flex items-center gap-2">
                                            Description
                                            <p-sortIcon field="description" />
                                        </div>
                                    </th>
                                    <th pSortableColumn="details">
                                        <div class="flex items-center gap-2">
                                            Details
                                            <p-sortIcon field="details" />
                                        </div>
                                    </th>
                                    <th pSortableColumn="purchase_quantity">
                                        <div class="flex items-center gap-2">
                                            Purchase Quantity
                                            <p-sortIcon field="purchase_quantity" />
                                        </div>
                                    </th>
                                    <th pSortableColumn="value">
                                        <div class="flex items-center gap-2">
                                            Value
                                            <p-sortIcon field="value" />
                                        </div>
                                    </th>
                                    <th pSortableColumn="picture">
                                        <div class="flex items-center gap-2">
                                            Picture
                                            <p-sortIcon field="picture" />
                                        </div>
                                    </th>
                                    <th></th>
                                    <!-- <th pSortableColumn="status">
                                                                    <div class="flex items-center gap-2">
                                                                        Status
                                                                        <p-sortIcon field="status" />
                                                                    </div>
                                                                </th> -->
                                    <th style="width: 4rem"></th>
                                </tr>
                            </ng-template>
                            <ng-template #body let-gift>
                                <tr>
                                    <td>{{ gift.name }}</td>
                                    <td>{{ gift.description }}</td>
                                    <td>{{ gift.details }}</td>
                                    <td>{{ gift.purchase_quantity}}</td>
                                    <td>{{ gift.value | currency: 'ILS' }}</td>  
                                    <td>
                                        @if(gift.picture && gift.picture !== 'string' && gift.picture !== 'undefined' &&
                                        gift.picture !== 'null'){
                                            <img [src]="IMAGE_BASE_URL_GIFT + gift.picture" style="width: 50px" class="shadow-2 rounded" />
                                            }
                                        @else{
                                            <p-tag severity="secondary" value="אין תמונה"></p-tag>}
                                    </td>
                                    <td>
                                        <p-button icon="pi pi-pencil" [rounded]="true" [outlined]="true" class="mr-2"
                                            (onClick)="editGift(gift)" />
                                    </td>                                 
                                    <td>
                                        <p-button type="button" icon="pi pi-search" />
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template #emptymessage>
                                <tr>
                                    <td colspan="6">No gifts donated by </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>