<div class="card p-4" [formGroup]="giftForm">
    <h3 class="mt-0 mb-4 text-primary">
        {{ config.data ? 'עריכת תרומה: ' + config.data.name : 'הוספת תרומה חדשה' }}
    </h3>

    <div class="flex flex-column gap-2 mb-4">
        <p-floatlabel variant="in">
            <input pInputText id="name" formControlName="name" class="w-full" />
            <label for="name">שם מתנה</label>
        </p-floatlabel>
        @if (giftForm.get('name')?.invalid && giftForm.get('name')?.touched) {
            <small class="p-error">חובה להזין שם</small>
        }
    </div>

    <div class="flex flex-column gap-2 mb-4">
        <p-floatlabel variant="in">
            <input pInputText id="description" formControlName="description" class="w-full" />
            <label for="description">תיאור מתנה</label>
        </p-floatlabel>
    </div>

    <div class="flex flex-column gap-2 mb-4">
        <p-floatlabel variant="in">
            <textarea pTextarea id="details" formControlName="details" rows="5" 
                style="resize: none; display: block; line-height: 1.5;"
                class="h-full w-full pt-4"></textarea>
            <label for="details">פירוט מתנה</label>
        </p-floatlabel>
    </div>

    <div class="flex flex-column gap-2 mb-4">
        <p-floatlabel variant="in">
            <p-inputNumber id="value" formControlName="value" mode="currency" currency="ILS" locale="he-IL"
                styleClass="w-full" inputStyleClass="w-full" />
            <label for="value">שווי מתנה</label>
        </p-floatlabel>
    </div>

    <div class="flex flex-column gap-2 mb-4">
        <p-floatlabel variant="in" class="w-full">
            <p-select [options]="(categories$ | async) || []" formControlName="categoryId" optionValue="id"
                optionLabel="name" id="cat_sel" styleClass="w-full" class="w-full" />
            <label for="cat_sel">בחר קטגוריה</label>
        </p-floatlabel>
    </div>

    <div class="flex flex-column gap-2 mb-4">
        <p-floatlabel variant="in" class="w-full">
            <p-select [options]="(donors$ | async) ?? []" formControlName="donorId" optionValue="id"
                optionLabel="first_name" id="don_sel" styleClass="w-full" class="w-full" />
            <label for="don_sel">בחר תורם</label>
        </p-floatlabel>
    </div>

    <div class="flex flex-column gap-3 mb-4">
        <label class="font-bold" style="color: white;">תמונת מתנה</label>
        <p-fileUpload #f mode="basic" [auto]="true" chooseLabel="בחר תמונה" accept="image/*"
            (onSelect)="onFileSelect($event)" class="w-fit" />

        @if(previewImage) {
        <div class="relative mt-2 border-round overflow-hidden shadow-2" style="width: 150px; height: 150px;">
            <p-image [src]="previewImage" alt="Gift Preview" [preview]="true" width="150" height="150"
                imageClass="object-cover border-round" />
            <button pButton icon="pi pi-trash"
                class="p-button-rounded p-button-danger p-button-sm absolute top-0 right-0 m-1"
                style="width: 2rem; height: 2rem" (click)="f.clear(); previewImage=null">
            </button>
        </div>
        }
    </div>

    <div class="flex justify-content-end gap-2 mt-5">
        <p-button label="ביטול" icon="pi pi-times" [text]="true" severity="secondary" (click)="cancel()" />
        <p-button label="שמור" icon="pi pi-check" (click)="save()" [disabled]="giftForm.invalid" />
    </div>
</div>

<p-toast position="bottom-left" />